.navbar {
    border-bottom-width: thick;
    border-bottom-style: double;
    border-width: thick;
}

.nav-item-right {
    align-content: flex-end !important;
    display: flex;
}

@media (max-width: 640.98px) {

    .nav-item-right {
        align-content: flex-start !important;
    }

    nav-link {
        padding: 0px;
    }
}
